*.zip*
model_logs
__pycache__
*.csv
10*_food*
*.jpeg*
custom_food_images/
tensorflow_course/
06_101_food_class_10_percent_saved_big_dog_model
__MACOSX/
pizza_steak/
model_checkpoint/
.ipynb*
08_model_6_USE_feature_extractor/
pubmed_rct/